body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    margin: 0;
}

.w-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    text-align: center;
}

.searchbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchbox input {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.searchbox button {
    background-color: #2575fc;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.error p {
    color: red;
    display: none;
}

.weather-icon {
    width: 80px;
    margin: 20px auto;
}

.temperature {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
}

.city {
    font-size: 24px;
    color: #666;
}

.additional-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.column img,
.column svg {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.column p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.icon {
    fill: #555;
    width: 40px;
    height: 40px;
}
