*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(23, 23, 23);
}

.w-card{
    width: 90%;
    max-width: 455px;
    background: linear-gradient(135deg, rgb(18, 28, 43), rgb(1, 46, 69));
    color: white;
    margin: 70px auto;
    border-radius: 22px;
    padding: 44px 38px;
    text-align: center;
}

.searchbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.searchbox input{
    outline: none;
    border: none;
    background: lightcyan;
    padding: 10px 28px;
    flex: 1;
    font-size: 16px;
    border-radius: 28px;
}

button{
    border: none;
    outline: none;
    background: lightcyan;
    border-radius: 28px;
    padding: 10px 28px;
    margin-left: 18px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(166, 254, 254);
}

.weather-icon{
    width: 200px;
    margin-top: 20px;
}
#temp{
    font-size: 70px;
    font-weight: 500;
}
#city-name{
    font-size: 56px;
    font-weight: 400;
}

.additional-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 28px;
    margin-top: 45px;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
}
.column img{
    width: 50px;
    margin-right: 12px
}

.humidity, .wind{
    font-size: 22px;
    font-weight: 500;
}

.weather{
    display: none;
}

.error{
    font-size: 16px;
    text-align: left;
    margin: 8px 0px;
    display: none;
}
.alert-container{
    margin:20px 0;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    transition: opacity 0.5s;
}

.alert.dismissed{
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}
