/* Existing styles */

.theme-toggle {
    margin-bottom: 20px;
}

.theme-toggle button {
    background: lightcyan;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.theme-toggle button:hover {
    background-color: rgb(166, 254, 254);
}

/* Styles for favorites list */
.favorites {
    margin-top: 20px;
    text-align: left;
}

.favorites h3 {
    margin-bottom: 10px;
}

#favorites-list {
    list-style: none;
    padding: 0;
}

#favorites-list li {
    background: lightcyan;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

/* Dark Theme */
body.dark {
    background-color: rgb(23, 23, 23);
    color: white;
}

.w-card.dark {
    background: linear-gradient(135deg, rgb(18, 28, 43), rgb(1, 46, 69));
    color: white;
}

.searchbox input.dark,
button.dark {
    background: #333;
}
